.last-guess {
	/* TODO: extract to helper */
	border-width: .25em;
	border-style: solid;
	border-color: var(--bulma-label-color);
}

.guess-score-list .guess-score {
	/*
		TODO: figure out how to prevent animation
		on initial guesses load (from server)
	*/
	animation: new-guess 2500ms 100ms ease-in-out forwards;

	border-width: .25em;
	border-style: solid;
	border-color: var(--bulma-label-color);
}

@keyframes new-guess {
	100% {
		border-color: var(--bulma-body-background-color);
	}
}